#main{
width:400px;
margin-left:auto;
margin-right:auto;
}
#p1{
}
#p2{
display:block;
background-color:blue;
width:365px;
border: 2px solid black;
margin:10px;
font-weight:bold;
}
#p3{
display:block;
background-color:red;
border: 2px solid black;
font-weight:bold;
padding:10px;
}
#p4{
    color: blue;
    display:inline;
}
#p5{
    color: orange;
    display:inline;
}
#p6{
display:inline-block;
width:200px;
background-color:green;
border: 3px solid black;
font-weight:bold;
}